/* fullscreen stuff */
html, body {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
}

/* regular styles */

h1.display-4 {
    font-weight: bold !important;
}

div.controls {
    border-radius: 50%;
    background-color: #ffffff75;
    position: absolute;
    border: 1px solid #e9ecef99;
    left: 50%;
    text-align: center;
    vertical-align: middle;
}

div.page-number {
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
    bottom: 0;
    height: 75px;
    width: 75px;
    margin-left: -37.5px;
    line-height: 70px;
    padding-right: 12px;
}

div.up {
    top: 0;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    line-height: 30px;
    cursor: pointer;
}

.jumbotron {
    text-align: center;
    background-color: #ffffff75;
}

.jumbotron h1 {
    font-family: 'Amatic SC', cursive;
}

.fa-arrow-down {
    padding-left: 13px;
    padding-top: 14px;
    cursor: pointer;
}

div.card-body {
    min-height: 300px;
}

div.card-header {
    background-color: rgba(0, 0, 0, 0.25);
}

/*
body { background:#227675}
body { background:#3d85ab}
body { background:#aa4bde}
body { background:#326753}
body { background:#2e4145}
body { background:#b67bb8}
body { background:#bc252d} 
*/


/* body { background:#5f5a35}
body { background:#8eb5cd}
body { background:#521036}
body { background:rgb(67, 2, 77)}
body { background:#701d31}
body { background:#a06839}
body { background:#091f25}
body { background:#624d83}
body { background:#d3b6d6} */